/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/vendor
.env
.env.backup
.env.secrets
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.npm
/.bash_history
/_data
.rnd
/.ssh
.ignition.json
.env.dusk.local
docker/coolify-realtime/node_modules

/storage/*.key
/storage/app/backups
/storage/app/ssh/keys
/storage/app/ssh/mux
/storage/app/tmp
/storage/app/debugbar
/storage/logs
/storage/pail



