.env
.env.*

.bash_history
.ssh

.bun
.npm
node_modules
/vendor

*.log

.ai
CLAUDE.md
/.cursor
/.fleet
/.idea
/.junie
/.nova
/.vscode
/.windsurfrules
/.zed

.DS_Store
Thumbs.db

*.swo
*.swp

*.sqlite*

/auth.json
.ignition.json
.phpactor.json
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml

/bootstrap/cache/**

/public/build
/public/hot
/public/storage
/public/vendor

/storage/**
!/storage/**/
/storage/phpstan/**
/storage/rector/**

.git
.gitattributes
.github
.gitignore
.gitkeep

.dockerignore

*.md
*.mdx
LICENSE
