APP_NAME=Coolify
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=

LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=single

DB_DATABASE=coolify-db
DB_HOST=host.docker.internal
DB_PORT=5432
DB_USERNAME=coolify
DB_PASSWORD=password

RAY_ENABLED=true
# RAY_PORT=

# Special Keys for Andras & Peak
BUNNY_API_KEY=
BUNNY_STORAGE_API_KEY=
