.DS_Store
node_modules
.pnpm-store
/apps/ui/build
/build
.svelte-kit
package
.env
.env.*
!.env.example
dist
apps/api/db/*.db
apps/api/db/migration.db-journal
apps/api/core*
apps/server/build
apps/backup/backups/*
!apps/backup/backups/.gitkeep
/logs
others/certificates
backups/*
!backups/.gitkeep

# Trpc
apps/server/db/*.db
apps/server/db/*.db-journal