includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - resources
        - routes

    level: max
