includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: max

    # Additional Core PHPStan Rules
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAnyTypeWideningInVarTag: true
    checkMissingCallableSignature: true
    tipsOfTheDay: false
    
    # Additional Larastan Rules
    enableMigrationCache: true
    noUnnecessaryEnumerableToArrayCalls: true
    checkModelProperties: true
    parseModelCastsMethod: true
    checkOctaneCompatibility: true
    checkModelMethodVisibility: true
    checkAuthCallsWhenInRequestScope: true
    checkConfigTypes: true

    tmpDir: ./vendor/.cache/phpstan
    paths:
        - app
        - bootstrap
        - config
        - database
        - public
        - resources
        - routes
    excludePaths:
        - bootstrap/cache
    strictRules:
        strictArrayFilter: false
    ignoreErrors:
        # - '#Dynamic call to static method Illuminate\\Http\\Request::validate\(\)#'
