@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
    @apply scrollbar-thumb-coollabs-100 scrollbar-track-coolgray-200 scrollbar-w-1;
}

html {
    @apply min-h-screen h-full bg-coolgray-100;
}

body {
    @apply scrollbar min-h-screen bg-coolgray-100 text-neutral-400 antialiased;
}
main {
    @apply pl-24 pr-10 lg:px-14 mx-auto max-w-screen-xl pt-4;
}

input[type="checkbox"] {
    @apply toggle toggle-warning toggle-xs rounded;
}
input {
    @apply input input-sm h-7 outline-none placeholder:text-neutral-700 text-white rounded;
}
input[type="text"],
[type="number"],
[type="email"],
[type="password"] {
    @apply read-only:bg-coolgray-200/50 read-only:text-opacity-25;
}
.label-text,
label {
    @apply text-neutral-400 text-sm;
}

textarea {
    @apply textarea placeholder:text-neutral-700 text-white rounded scrollbar;
}
select {
    @apply h-7 select select-xs text-sm disabled:bg-coolgray-200 border-none disabled:opacity-50 font-normal placeholder:text-neutral-700 text-white rounded;
}
.loading {
    @apply w-4 text-warning;
}

button[isWarning] {
    @apply bg-red-600 hover:bg-red-500;
}
button[isHighlighted] {
    @apply btn-primary text-white;
}
h1 {
    @apply text-3xl font-bold text-white;
}
h2 {
    @apply text-2xl font-bold text-white;
}
h3 {
    @apply text-xl font-bold text-white;
}
h4 {
    @apply text-base font-bold text-white;
}
a {
    @apply text-neutral-400 hover:text-white text-sm link link-hover hover:bg-transparent;
}
.kbd-custom {
    @apply px-2  text-xs border border-dashed rounded border-neutral-700 text-warning;
}
.icon {
    @apply w-6 h-6;
}
.icon:hover {
    @apply text-white;
}
.box {
    @apply flex items-center justify-center text-sm rounded min-h-12 bg-coolgray-200 hover:bg-coollabs-100 hover:text-white p-2 hover:no-underline transition-colors;
}

.lds-heart {
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes lds-heart {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.2);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}
.bg-coollabs-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-500 via-pink-500 to-red-500;
}
.text-helper {
    @apply inline-block font-bold text-warning;
}
table {
    @apply min-w-full divide-y divide-coolgray-200;
}
thead {
    @apply uppercase text-sm;
}
tbody {
    @apply divide-y divide-coolgray-200;
}
tr {
    @apply text-sm text-neutral-400;
}
tr th {
    @apply px-3 py-3.5 text-left text-white;
}
tr th:first-child {
    @apply py-3.5 pl-4 pr-3 sm:pl-6;
}
tr td {
    @apply px-3 py-4 whitespace-nowrap;
}
tr td:first-child {
    @apply pl-4 pr-3 sm:pl-6 font-bold;
}
