@import 'fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --primary: 262.1 83.3% 57.8%;
        --primary-foreground: 210 20% 98%;

        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --input-background: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;
        --radius: 0.1rem;

        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 0 0% 7%;
        --foreground: 210 20% 98%;

        --card: 0 0% 13%;
        --card-foreground: 210 20% 98%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 20% 98%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --accent: 0 0% 13%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;

        --border: 0 0% 13%;
        --input: 0 0% 13%;
        --input-background: 0 0% 9.4%;
        --ring: 271 83% 51%;

        --sidebar-background: 0 0% 7%;
        --sidebar-foreground: 210 20% 98%;
        --sidebar-primary: 0 0% 7%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 0 0% 13%;
        --sidebar-accent-foreground: 210 20% 98%;
        --sidebar-border: 0 0% 13%;
        --sidebar-border-foreground: 210 20% 98%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --sidebar-ring-foreground: 210 20% 98%;
    }
}