global
  log stdout format raw local0 debug

defaults 
  mode tcp
  log global
  timeout http-request 60s
  timeout connect 10s
  timeout client 60s
  timeout server 60s

frontend "${APP}"
  mode tcp
  bind *:"${PORT}" name "${APP}"
  default_backend "${APP}"

backend "${APP}"
  mode tcp
  server "${APP}" "${APP}":"${PRIVATE_PORT}" check
