global
  log stdout format raw local0 debug

defaults 
  mode http
  log global
  timeout http-request 120s
  timeout connect 20s
  timeout client 120s
  timeout server 120s

frontend "${APP}"
  mode http
  bind *:"${PORT}" name "${APP}"
  default_backend "${APP}"

backend "${APP}"
  mode http
  server "${APP}" "${APP}":"${PRIVATE_PORT}" check
