@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

html {
  height: 100%;
}
body {
  background-color: rgba(250, 250, 250);
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;  
}

:root {
    --toastProgressBackground: transparent;
    --toastFont: 'Inter';
}